<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/1779940.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main">
        {{>header}}
        <h4>Location: {{location}}</h4>
        <h4>Temperature: {{Temperature}}</h4>
        <h4>Last Updated at: {{last}}</h4>
    </div>
    

    {{>footer}}
</body>

</html>