<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/1779940.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<divclass="main">
<center><h3>Error 404: Page Not found</h3></center>
</divclass></div>
    {{>footer}}

</body>

</html>